:root{
    --primary-color: #FF4238;
}
.logo_name{
    color: var(--primary-color);
}
.primary-color-letter{
    color: var(--primary-color);
}
input[type="checkbox"]:checked + .w-5 .tick-icon {
    display: block;
}
input[type="checkbox"]:checked + .w-8 .tick-icon {
    display: block;
}
input[type="radio"]:checked + .w-8 .tick-icon {
    display: block;
}
.right-side::-webkit-scrollbar, .item_list_block::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #eaeaea;
    border-radius: 0.5rem;
}
.right-side::-webkit-scrollbar-thumb, .item_list_block::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 0.5rem;
}
#previewImage {
    max-height: 150px;
}
.previewImage {
    max-height: 150px;
}

/*For loading*/
.loader-dots div {
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-dots div:nth-child(1) {
    left: 8px;
    animation: loader-dots1 0.6s infinite;
}
.loader-dots div:nth-child(2) {
    left: 8px;
    animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(3) {
    left: 32px;
    animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(4) {
    left: 56px;
    animation: loader-dots3 0.6s infinite;
}
@keyframes loader-dots1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loader-dots3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes loader-dots2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
